# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    enabled_locales: ['en', 'fr']
    set_locale_from_accept_language: true
    set_content_language_from_locale: true
    session: true
    property_info:
        with_constructor_extractor: true

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
