parameters:
    # Analysis level (0-9, 9 being the most strict)
    level: 9

    # Paths to analyze
    paths:
        - config
        - public
        - src
        - tests

    # Paths to exclude from analysis
    excludePaths:
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/vendor/*

    # Cache directory
    tmpDir: var/phpstan

    ignoreErrors:
        - '#Property App\\Entity\\User::\$password type mapping mismatch#'
