{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

local.tinie-bakerie.com {
	tls internal
	log {
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}
	root * /app/public
	encode zstd br gzip

	vulcain
	{$CADDY_SERVER_EXTRA_DIRECTIVES}
	header ?Permissions-Policy "browsing-topics=()"
	php_server
}

# HTTP-only endpoint for E2E tests (Playwright in Docker)
http://php:80 {
	log
	root * /app/public
	encode zstd br gzip

	vulcain
	{$CADDY_SERVER_EXTRA_DIRECTIVES}
	header ?Permissions-Policy "browsing-topics=()"
	php_server
}
