{% if section is defined and section is not same as null %}
    {% set media = section.media %}
    {% set sectionTranslation = section.translations|first %}

    {% if media is not same as null %}
        <div>
            {% set mediaTranslation = media.translations|first %}

            {% if media.mediaType is same as constant('App\\Services\\Media\\Enum\\MediaType::Image') %}
                <img src="{{ asset('upload/post_section/' ~ media.mediaName) }}"
                     alt="{{ mediaTranslation.alt }}"
                     title="{{ mediaTranslation.title }}"
                     width="300px"
                />
            {% elseif media.type is same as constant('App\\Services\\Media\\Enum\\MediaType::Video') %}
                <video src=""></video>
            {% endif %}
        </div>
    {% endif %}

    <div>
        {{ sectionTranslation.content|raw }}
    </div>
{% endif %}
