{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_post_index') }}">{{ 'app.post.index'|trans }}</a>
    <a href="{{ path('app_category_index') }}">{{ 'app.category.index'|trans }}</a>
{% endblock %}
