<ul class="absolute top-full left-0 right-0 bg-white border border-gray-200 shadow-lg z-0 hidden max-w-7xl mx-auto"
    {{ stimulus_target('dropdown', 'collapsable') }}>
    {% for category in categories %}
        <li>
            <a href="{{ path('app_category_show', {'categorySlug': category.slug}) }}"
               class="block px-2 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
                {{ category.title }}
            </a>
        </li>
    {% endfor %}
</ul>
