<!-- Dropdown Panel with Live Search -->
<div class="absolute top-full left-0 right-0 bg-white border border-gray-200 shadow-lg z-0 hidden max-w-7xl mx-auto"
    {{ stimulus_target('dropdown', 'collapsable') }}
>
    {{ component('SearchBar') }}
</div>
