{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% if posts is defined and posts is not empty %}
        {% for post in posts %}
            <a href="{{ path('app_post_show', {'slugCategory': post.category.slug, 'slugPost': post.slug}) }}"></a>
        {% endfor %}
    {% endif %}
{% endblock %}
