{% extends 'base.html.twig' %}

{% block title %}{{ post.category.title }} - {{ post.title }}{% endblock %}

{% block body %}
    {% if post is defined and post is not same as null %}
        {% set mainMedia = post.media|first %}

        <main class="min-h-screen">
            <div class="max-w-7xl mx-auto xl:px-0 px-6 py-12">
                {% include('post/includes/_header.html.twig') %}
                {% include('post/includes/_hero.html.twig') %}
                {% include('post/includes/_quick-infos.html.twig') %}

                <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mb-12">
                    {% include('post/includes/_sidebar-left.html.twig') %}

                    {% if post.sections is not empty %}
                        {% include('post/includes/_section.html.twig') %}
                    {% endif %}
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}
